* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #002147;
  --dark-grey: #36454f;
  --lighter-grey: #536878;
  --main-title: #ff8c00;
  --danger-red: #dc143c;
  --cyan-blue: #b9f2ff;
  --white-tone: #fffafa;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: var(--bg-color);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

h1 {
  margin: 5rem 0 2rem;
  text-align: center;
  color: var(--main-title);
  font-size: 3rem;
}

.input__container {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.input__container input,
.input__container button {
  height: 4rem;
  border-radius: 10px;
}

.input__container button {
  width: 6vw;
  font-size: 1.5rem;
  color: var(--dark-grey);
  font-weight: 700;
}

.input__enable {
  border: var(--cyan-blue) 3px solid;
  padding: 0 1rem;
  font-size: 2rem;
  color: var(--cyan-blue);
  margin-right: 5px;
  background-color: var(--bg-color);
  width: 20vw;
  outline: none;
  box-shadow: none;
}

.input__disable {
  border: var(--main-title) 3px solid;
  font-size: 2rem;
  color: var(--cyan-blue);
  margin-right: 5px;
  background-color: var(--bg-color);
  width: 20vw;
  outline: none;
  box-shadow: none;
}

.tasks__container {
  border: 2px solid var(--white-tone);
  padding: 2rem 1rem;
  height: fit-content;
  min-height: 2px;
  width: 20vw;
  border-radius: 10px;
  margin-bottom: 4rem;
}

.tasks__container-disabled,
#btn-close-disabled {
  display: none;
}

#btn-close {
  margin: 0 auto;
  color: var(--danger-red);
  background-color: var(--dark-grey);
  border: none;
  border-radius: 10px;
  width: 14vw;
  height: 2rem;
  font-size: large;
}

#btn-close:hover {
  background-color: var(--lighter-grey);
  cursor: pointer;
}

/* bbg image */
.bg__image {
  /* border: 1px solid var(--white-tone); */
  width: 20vw;
  margin-bottom: 2rem;
}

.bg__image img {
  height: auto;
  width: 100%;
  height: auto;
}

/*single task */
.single__task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  border-top: 1px solid var(--white-tone);
  padding-top: 0.8rem;
}

.single__task:first-child {
  border-top: none;
}

.single__task h2 {
  color: var(--white-tone);
}

.task__icons button {
  background-color: var(--dark-grey);
  border: none;
  text-align: center;
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--white-tone);
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.1rem;
}

.task__icons button:hover {
  background-color: var(--lighter-grey);
  cursor: pointer;
}

.task__icons button:first-child {
  margin-right: 5px;
}

.task-id {
  color: var(--danger-red);
}

.task-id-disable {
  display: none;
}

/* Delete all component */
.deleteAll__container {
  /* border: 1px solid var(--white-tone); */
  position: fixed;
  height: fit-content;
  width: auto;
  z-index: 998;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  color: var(--white-tone);
  background-color: var(--lighter-grey);
  border-radius: 10px;
}

.deleteAll__container h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.deleteAll__buttons {
  text-align: end;
}

.deleteAll__buttons button {
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
}

.deleteAll__buttons button:first-child {
  margin-right: 0.7rem;
}

.deleteAll__buttons button:last-child {
  background-color: var(--danger-red);
}

.enterTask__container {
  /* border: 1px solid var(--white-tone); */
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: fixed;
  height: fit-content;
  width: 20vw;
  z-index: 998;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem 1rem;
  color: var(--bg-color);
  background-color: var(--main-title);
  border-radius: 10px;
}

.enterTask__container button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.enterTask__container button:first-child {
  display: flex;
  align-items: center;
}

.enterTask__container button:last-child {
  display: flex;
  align-items: start;
}

.enterTask-firstHalf {
  display: flex;
}

.enterTask-firstHalf button {
  margin-right: 0.5rem;
  font-size: 1.1rem;
}
